<footer>
<div class="col-12">
    <div class="bg-primary-200 d-flex justify-content-center align-items-center mx-auto">
      <p class="h4 text-24 me-24 neutral-900">加入會員取得9折優惠</p>
      <button type="button" class="btn btn-dark m-24">馬上註冊</button>
    </div>
</div>
<div class="row icon flex-nowrap mb-48 mt-64 justify-between py-sm-32">
    <div class="col-6">
      <ul class="d-sm-flex px-sm-12"><a href=""><img src="../images/logo.svg" alt="">
        <li class="py-12 h6"></li>
        </svg></a></li>
        <!-- <li class="py-12 h6">URBNSTEP</li> -->
      </ul>
    </div>
        <div class="col-6 icon d-flex justify-content-sm-end">
      
            <li class="py-12"><a href="../pages/products.html">商品列表</a></li>
            <li class="py-12"><a href="../pages/story.html">品牌故事</a></li>
       
        </div>
    </div>
</div>
</footer>







</footer>