$bs-primary-100: #F5FEE7; 
$bs-primary-200: #E8FEC5; 
$bs-primary-300: #C0FA73; 
$bs-primary-400: #57A203;
$bs-primary-500: #477A11;
$neutral-0: #ffffff; 
$neutral-100: #f8f9fa;
$neutral-200: #e9ecef;
$neutral-300: #dee2e6;   
$neutral-400: #ced4da;
$neutral-500: #adb5bd;
$neutral-600: #6c757d;
$neutral-700: #495057;
$neutral-800: #343a40;
$neutral-900: #212529;
$danger-100: #FCF1F1;
$danger-200: #EBA7A7;   
$danger-300: #d74f4f;
$warning-100: #FEF6EC; 
$warning-200: #F9C588; 
$warning-300: #F38B12; 
$success-100: #EFF8F4;
$success-200: #9AD1BA;
$success-300: #36A375;
$info-100: #EEF5FC; 
$info-200: #97C3ED;
$info-300: #3087db;