<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  </head>
  <body>
      <%- include("./layout/header.ejs"); %>
  
      <main>
        
        <section class="py-64 py-md-40">
          <div class="container">
            <h3 class="h2 h4-md mb-16">熱銷補貨</h3>
            <div class="row product-md-row">
              <div class="col-3 product-md-col">
                <div class="product">
                  <span class="product-text">人氣No.1</span>
                  <img src="../images/product-3.png" alt="Matty Kiss">
                </div>
              </div>
              <div class="col-3 product-md-col">
                <div class="product">
                  <span class="product-text">人氣No.1</span>
                  <img src="../images/product.png" alt="PLATFORM 404">
                </div>
              </div>
              <div class="col-3 product-md-col">
                <div class="product">
                  <span class="product-text">人氣No.1</span>
                  <img src="../images/product-6.png" alt="R:UNER">
                </div>
              </div>
              <div class="col-3 product-md-col">
                <div class="product">
                  <span class="product-text">人氣No.1</span>
                  <img src="../images/product-4.png" alt="BOOMBLOK">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-48 py-md-24">
          <div class="banner">
            <h3 class="d-flex flex-column flex-md-row text-white gap-8 mb-16 justify-content-center">
              <span class="display-2">URBNSTEP</span><span class="display-2 h1-md text-primary-300 px-24">X</span><span class="display-2">Kevin Chen</span>
            </h3>
            <h3 class="h2 mb-32 text-white h4-md mb-md-24">跨界聯名，限量發售</h3>
            <div class="d-flex flex-column flex-nowrap flex-md-row justify-content-center ">
              <p class="mb-48">
              <span class="h5 text-20 me-2">新銳漫畫家 Kevin Chen 親自操刀設計</span>
              <span class="h4 d-block d-md-none me-2">,</span>
              <span class="h5 text-20">街頭能量全面引爆!</span>
            </p>
            </div>
            
            <button type="button" class="btn btn-primary">立即搶購</button>
            <img class="star-img" src="../images/star.svg" alt="star.img">
            <img class="sparkle-img" src="../images/sparkle.svg" alt="sparkle.img">
          </div>
        </section>
        <section class="py-64">
          <div class="container">
            <h3 class="h2 mb-16">依系列選購</h3>
          </div>
          <div class="row">
            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                 <img src="../images/product-6.png" alt="product-6">
                  <div class="category-text">
                    <h4 class="h3 h6-md text-28 mb-8">URBN RUNNER</h4>
                    <p class="h4 text-24">慢跑系列</p>
                  </div>
              </div>
             
              
            </div>
            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                <img src="../images/product-11.png" alt="product-11">
                <div class="category-text">
                  <h4 class="h3 h6-md text-28 mb-8">STREETMODE</h4>
                  <p class="h4 text-24">滑板系列</p>
                </div>
              </div>
              
            </div>
            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                <img src="../images/product-9.png" alt="product-9">
                <div class="category-text">
                  <h4 class="h3 h6-md text-28 mb-8">CHUNK DISTRICT</h4>
                  <p class="h4 text-24">厚底系列</p>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                  <img src="../images/product-10.png" alt="product-10">
                <div class="category-text">
                  <h4 class="h3 h6-md text-28 mb-8">COLLAB ZONE</h4>
                  <p class="h4 text-24">聯名企劃</p>
                </div>
              </div>
            </div>
          </div>
        </section>
    <section class="container mb-48">
      <h2 class="title">穿搭靈感</h2>
      <div class="d-flex column-gap-8 overflow-x-md-auto column-md-gap-16">
        <div class="d-md-contents d-flex flex-column row-gap-8 w-66">
          <div class="d-md-contents d-flex flex-grow-1 column-gap-8">
            <img class="img min-width" src="../images/inspiration-1.png" alt="穿搭1" />
            <img class="img min-width" src="../images/inspiration-2.png" alt="穿搭2" />
            <img class="img min-width" src="../images/inspiration-9.png" alt="穿搭3" />
            <img class="img min-width" src="../images/inspiration-5.png" alt="穿搭4" />
          </div>
          <div class="d-md-contents d-flex column-gap-8">
            <img class="img min-width" src="../images/inspiration-3.png" alt="穿搭5" />
            <div class="d-md-contents d-flex flex-column row-gap-8">
              <div class="d-flex column-gap-8 d-md-contents">
                <img class="img min-width" src="../images/inspiration-6.png" alt="穿搭7" />
                <img class="img min-width" src="../images/inspiration-7.png" alt="穿搭8" />
              </div>
              <div class="d-md-contents d-flex column-gap-8">
                <img class="img min-width" src="../images/inspiration-8.png" alt="穿搭9" />
                <img class="img min-width" src="../images/inspiration-9.png" alt="穿搭6" />
              </div>
            </div>
          </div>
        </div>
        <div class="d-md-contents d-flex flex-column row-gap-8 w-33">
          <img class="img min-width" src="../images/inspiration-10.png" alt="穿搭10" />
          <div class="d-md-contents d-flex column-gap-8">
            <img class="img min-width" src="../images/inspiration-11.png" alt="穿搭11" />
            <img class="img min-width" src="../images/inspiration-12.png" alt="穿搭12" />
          </div>
        </div>
      </div>
    </section>
    <%- include("./layout/footer.ejs"); %>
      </main>





    
</nav>
<script type="module" src="../main.js"></script>
</body>
</html>
